<!-- <div class="container-fluid">
  <div class="col-md-2 by-box"> -->
  <% @periods.each do |period| %>
    <!-- <div class="row"> -->
      <%= link_to "#{ period.name }", period_path(period), class: "btn btn-default btn-sm period-btns" %>
    <!-- </div> -->
  <% end %>
  <!-- </div>
</div> -->