<div class="container-fluid">
  <div class="col-md-10">
    <h4 class="head">All Students</h4>
    <%= render '/shared/student_data' %>
    <div class="col-md-offset-10 col-md-2">
      <%= link_to 'Download as Excel', users_path(format: :xlsx), class: "btn btn-default btn-sm" %>
    </div>
  </div>
</div>