<div class="row">
  <div class="col-md-2 head">GRADE LEVEL</div>
  <div class="col-md-2 head">COURSE NAME</div>
  <div class="col-md-2 head">COURSE TITLE</div>
  <div class="col-md-2 head">COURSE PREREQ</div>
  <div class="col-md-2 head">DEPARTMENT</div>
  <div class="col-md-2 head">DP PROGRAM</div>
</div>