<div class="row">
  <div class="col-md-1 head code-col">CODE</div>
  <div class="col-md-1 head">SEATS</div>
  <div class="col-md-5 head">NAME & DESCRIPTION</div>
  <div class="col-md-1 head">PERIOD</div>
</div>