<div class="container-fluid">

  <div class="col-md-2">
    <%= render 'shared/classes_by' %>
    <%= render 'by_dept_buttons' %>

  </div>

  <div class="col-md-10", id="dept-space">

  </div>
</div>







<h5>departments/index page - ALL DEPARTMENTS</h5>