<div class="container-fluid">
  <div class="col-md-10 box">

    <%= render '/shared/section_headers' %>

    <div class="row pre-scrollable section-box">
      <% sections_by_course_name(@sections).each do |section| %>
        <%= render partial: '/shared/section_output', locals: {section: section} %>
      <% end %>
    </div>

  </div>
</div>
