<div class="container-fluid">
  <div class="col-md-10 box">
    <h4 class="head">All students enrolled in <%= @section.name %> | Period <%= @section.period_id %></h4>
    <%= render 'shared/student_data' %>
  </div>
</div>