<div class="container-fluid">
  <div class="col-md-10">
    <h4 class="head">All students enrolled in <%= @section.name %>(<%= @section.code %>)</h4>
    <%= render 'shared/student_data' %>
  </div>
</div>