<div class="container-fluid">
  <div class="col-md-10 enrol-msg-box">
    <div class="row">
      <div>Oops! This class is full. Please consult the schedule to find a class that has seats remaining.</div>
    </div>
  </div>
</div>