<div class="container-fluid">
  <div class="col-md-10 enrol-msg-box">
  <div class="row">
    <h3>this class is full. please consult the registration schedule to find a class that has seats remaining.</h3>
  </div>
  </div>
</div>


<h5>enrollments/full page</h5>