<div class="container-fluid">
  <div class="col-md-10 enrol-msg-box">
    <div class="row">
    <div>Oops! Seems like you have a period conflict for this class!</br>
     Please consult your schedule and make any necessary adjustments. </div>
     </div>
  </div>
</div>