<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <p>Welcome to My Imagination International High School's Registraide <br>
        If you are a student and new to the site, start by signing up with your SCHOOL email account<br>
        After sign up you can access the site with your SCHOOL email and secure password<br>
        If you are an administrator, login with your SCHOOL email and secure password<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8", id="replacement-space"></div>
  </div>


    <div id="sign-up-space"></div>

</div>