<div class="container-fluid">
  <div class="col-md-10 new-form-box">
    <div class="row">
      <%= render partial: 'form', locals: { method: "patch", submit_message: "Update Course" } %>
    </div>
  </div>
</div>