body {
  padding-top: 20%;
  background-color: #e6e7e2;
}

.navbar {
  height: 11%;
  background-color: #e6e7e2;
}

.logo {
  font-size: 3em;
  font-weight: bold;

}

.head {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.25em;
}

.box {
  border: 1px solid black;
}

.by-per-btns {
  margin-left: 50px;
  width: 10%;
}

.per-all-sec {
  margin-left: 14%;
  margin-top: -21%;
  position: relative;
}

.code-col {
  padding-left: 0.5%;
}

.name-col {
  width: 20%;
  padding-right: 0;
}

.seat-col {
  width: 6%;
  padding: 0;
}

.period-col {
  padding: 0;
  width: 5%;
}

.closed-col {
  padding-left: 1.75%;
  width: 10%;
}

.enroll-stud-schedule {

}

.top-buttons {
  width: 100%;
  text-align: center;
  margin-bottom: 1%;
}

.period-btns {
  width: 100%;
  text-align: center;
  margin-bottom: 1%;
}

.classes-by-box {
  margin-top: 5%;
}

.bold {
  font-weight: bold;
}

.course-output {
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom: 1px solid black;
}

.all-box {
  border: 1px solid black;
  margin-bottom: 1%;
}

.course-index-box {
  border: 1px solid black;
  margin-bottom: 7%;
}

 .course-title-box {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
 }

 .section-output {
  margin-bottom: 1%;
 }

 .regis-box {
  text-align: center;
  margin-top: 10%;
  margin-left: 15%;
 }

 .dept-index-box {
  border: 1px solid black;
  max-width: 15%;
  margin-left: 4.2%;

 }

 .by-box {
  margin-top: 5%;
  width: 14.5%;
 }

#dept-space-box {
 margin-left: 20%;
 border: 1px solid black;
 margin-top: -20.8%;
 max-width: 75.8%;
 position: fixed;
}

.hour-box {
  border: 1px solid black;
  max-width: 10%;
  margin-left: 3%;
}

.row-btn {
  margin-top: 10%;
}

.course-box {
  border: 1px solid black;
  padding-left: 1%;
  padding-top: 0.5%;
}

.prereq {
  padding-left: 2%;
}

.pre-scrollable {
  max-height: 600px;
}

.new-form-box {
  margin-top: 5%;
  width: 75%;
}

.new-cl-btn {
  width: 89%;
}

.sub-head {
  font-weight: bold;
  text-decoration: underline;
}

.line-space {
  margin-bottom: 1%;
}

.enrol-msg-box {
  margin-top: 5%;
}

.closed {
  color: red;
  font-weight: bold;
}

.output {
  border-bottom: 1px solid black;
  margin-top: 1%;
  margin-bottom: 0%;
}

.my-btn {
  margin-bottom: 10%;
}

.big-logo {
  margin-top: 2%;
  width: 100%;
}